// Style de global de la bande
$poke-dark: #222;

.poke-footer__bottom-extra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  padding-top: .5rem;
  border-top: 1px dashed $poke-dark;
  font-size: .85rem;
  color: $poke-dark;

  .poke-footer__logos {
    display: flex;
    gap: .6rem;

    img {
      height: 28px;
      width: auto;
      border: 1px solid $poke-dark;
      border-radius: 6px;
      transition: transform .12s;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .poke-footer__last-modified {
    font-style: italic;
  }

}