#container-loading {
  display: flex;
  margin: 100px auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
}

table {
  border-spacing: 0;
  width: 60%;
  border-collapse: collapse;
  margin: 100px auto 0 auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  td:nth-child(1) {
    // id
    width: 8%;
  }

  td:nth-child(2) {
    // name
    width: 20%;
  }
}

th, td {
  border: 1px solid #ccc;
  text-align: center;
}

#types-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 10px;

  .types {
    color: white;
    padding: 10px;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #000 #0000;
  animation: l1 1s infinite;
}
@keyframes l1 {to{transform: rotate(.5turn)}}